.heading {
  text-align: center;
  text-decoration: underline;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  color: white;
}

.grid {
  width: 592px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 20px;
}

.searchInputWrapper {
  width: 550px;
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}